.list-todo{
  button{
    cursor: pointer;
  }
  .add-todo{
    .add{
      margin: 0 10px;
    }
  } 
  .list-todo-body{
    margin: 0 auto;
    width: 500px;
    .todo-child-item{
      &:first-child{
        border-top: 1px solid #ccc;
      }

      padding: 20px;
      border-bottom: 1px solid #ccc;
      margin-top: 20px;

      .edit{
        margin: 0px 20px;
      }
    }
  }
}